.canjesContainer {
    border-radius: var(--border-radius-mainSectionContainer);
    padding: var(--padding-mainSectionContainer);
	padding-top: 0.5rem;
    background-color: var(--background-color-mainSectionContainer);
    width: 100%;
	height: 100%;
}

h3 {
	font-size: 1.2rem;
	color: var(--clr-primary-variant3);
}

.firstCanjesRow{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    width: 100%;
    height: 3rem;
    gap: 1.5rem;
    align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.fechaContainer {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.secondCanjesRow{
    display: flex;
	flex-direction: row;
    width: 100%;
	gap: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1.5px solid #ccc;
	align-items: center;
}

.thirdCanjesRow{
    display: flex;
	flex-direction: row;
    width: 100%;
	height: auto;
	align-content: space-between;
	margin-top: 1rem;
	gap: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1.5px solid #ccc;
}

.verticalPairGroup {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	text-align: start;
	align-items: start;
	gap: 0.5rem;
}

.verticalPairGroup.tooltipInside {
	gap: 0.25rem;
}

.verticalPairGroup label {
	text-align: left;
	width: auto;
}

.input[type="date"] {
	text-align: start;
	width: 5rem;
}

#idFechaCanjeInput{
	height: 2.3rem;
	max-width: 60%;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 0;
}

#tecnicoCanjesInput {
	width: 20rem;
}

#puntosActualesCanjesInput {
	width: 7rem;
	text-align: center;
	border-radius: 3px;
	padding-left: 1px;
}

#montoTotalCanjesInput {
	width: 7rem;
	text-align: center;
	border-radius: 3px;
	padding-left: 1px;
}

#clienteCanjesTextarea {
	width: 10rem;
	height: 4.5rem;
	max-height: 5rem;
	padding-right: 0;
	resize: none; 
	overflow-y: hidden;	
}

#messageErrorTecnicoCanjes {
	margin-top: 1.6rem;
}
