/* Estilos para el modal */
#modalAgregarVenta {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

#modalAgregarVenta-dialog {
    max-width: 800px; 
}

#modalAgregarVenta-content {
    height: 600px;
}

#idLabelTecnico {
    margin-left: 0;
}

#idModalBodyAgregarVenta {
    padding: 20px 0 0 0;
    max-height: 20rem;
}

#idSelectFilesContainer {
    height: 15rem;
    margin: auto;
}

#labelClienteAgregarVenta,
#labelVentaAgregarVenta {
    margin-left: 0;
}

#tipoCodigoCliente {
    max-width: 3.5rem;
}

#puntosGanadosInput {
    max-width: 5rem;
}

