/* Estilos para el modal */
.modal {
    display: none; /* Por defecto, ocultar el modal */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s ease; /* Transición suave de 0.3 segundos */
	overflow-y: none; /*Evitar el scroll vertical del modal*/
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal.first {
    z-index: 10;
}

.modal.second {
    z-index: 20;
}

.modal.third {
    z-index: 30;
}

.modal-dialog {
    position: relative;
    margin: 10% auto;
    width: 100%; /* Ancho del modal */
    height: auto;
    max-width: 600px; /* Ancho máximo del modal */
    opacity: 0; /* Inicialmente transparente */
    transform: translateY(0); /* En su posición original */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.modal-dialog.open {
    opacity: 1; /* Totalmente opaco */
    transform: translateY(-70px); /* Inicialmente desplazado hacia arriba */
}

.modal-content {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 5px;
    overflow: auto; 
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

.modal-title {
    margin: 0;
    color: #000;
    font-weight: 600;
}

.modal-body {
    padding: 20px 0;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
}

.form-group{
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.form-group.gap {
    gap: 1.2rem;
    flex-wrap: wrap;
}

.form-group .start {
    justify-content: start;
}

.group-items {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
}

.modal-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    text-align: right;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-secondary {
    background-color: #fff;
    color: #999;
    border: 0.2px solid #DDD;
}

.btn-secondary:hover {
    background-color: #ECF5FF;
    color: #46A1FF;
    border-color: #C6E2FF;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.close {
    font-size: 1.6rem;
    color: #AAA;
    cursor: pointer;
    background: none;
}

.close:hover {
    background-color: none;
    color: var(--clr-primary-variant);
}

/*Estilos de los labels y enlaces*/
.primary-label {
	color: var(--clr-primary-variant);
	font-weight: 700;
    margin: 0;
    font-size: 1rem;
}

.primary-label.marginX {
    margin: 0 0.8rem;
}

.primary-label a {
	color: #AAA;
    cursor: pointer;
}

.primary-label a:hover{
	color: #444;
}

.secondary-label {
	color: #606266;
	font-weight: 600;
    font-size: 0.85rem;
}

.secondary-label.centered {
    align-self: center;
}

.important-label {
	color: #139161;
	font-weight: 600;
    font-size: 1rem;
}

/*Estilos de los inputs*/
.input-select, .input-container {
    position: relative;
    width: fit-content;
}

.idInputSelectContainer {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
}

.input-select-item, .input-item {
    max-width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
    color: #666;
}

.input-item.readonly {
    cursor: default;
}

.input-select-item::placeholder, .input-item::placeholder {
    color: #BBB;
}

.input-select-item:focus, .input-item:focus{
    border-color: #007bff; 
}

/*Estilos de los only select inputs */
.onlySelectInput-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: border-color 0.3s;
}

.onlySelectInput{
    padding: 20px 10px;
    max-width: 100%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    color: #666;
    cursor: pointer;
}

.onlySelectInput.long{
    width: 13.5rem;
}

.onlySelectInput::placeholder {
    color: #BBB;
}

.onlySelectInput-container span {
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    color: #666;
    margin-right: 0.5rem;
}

.onlySelectInput-container span:hover {
    color: #0b55a4;
}

/* Estilos de las listas */
.select-items { /* ul */
    position: absolute;
    max-height: 0; /* Inicialmente colapsado */
    opacity: 0; /* Inicialmente invisible */
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    overflow-y: auto;
    transition: max-height 0.18s ease, opacity 0.18s linear; /* Transiciones para max-height y opacity */
}

.select-items.show {
    max-height: 16rem; /* Altura máxima cuando está visible */
    opacity: 1; /* Totalmente visible */
}

.select-items li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #666;
}

.select-items li:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
}

/*Estilo para el bar scroll de las listas*/
.select-items::-webkit-scrollbar {
    width: 0.5rem;
}

.select-items::-webkit-scrollbar-track {
    background: hsla(220, 4%, 58%, 0.1); /* Color de fondo del track del scrollbar */
}

.select-items::-webkit-scrollbar-thumb {
    background: hsla(220, 4%, 58%, 0.3); /* Color del thumb del scrollbar */
    border-radius: 5px; /* Bordes redondeados */
}

.select-items::-webkit-scrollbar-thumb:hover {
    background: hsla(220, 4%, 58%, 0.5); /* Color del thumb al pasar el cursor */
}

/* Estilos para la selección de archivos */
.select-files-div {
    height: auto;
    text-align: center; 
}

.fileArea {
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px dashed #ccc;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 10rem;
    padding: 0 2rem;
    text-align: center;
    justify-self: center;
    background-color: #fff;
}

.fileArea_text {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: auto;
}

.fileArea.drag-over {
    border: 4px dashed #ccc;
    width: 20rem;
}

.file-input {
    display: none;
}
  
.btnSelectFile {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}
  
.btnSelectFile:hover {
    background-color: #0056b3;
}

.select-files span {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #777;
}

.select-files.dragover {
    border-color: #007bff;
}


.inline-alert-message {
    padding: 0 10px;
    font-size: 0.9rem;
    color: #fc4f4b;
    display: none;
}

.inline-alert-message.shown {
    display: inline-block;
}

.group-items.dateTime {
    max-width: 20rem;
}

.dateTimeContainer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 0.5rem;
}

.input-item.date {
    margin: 0;
    max-width: 7rem;
}

.input-item.time {
    margin: 0;
    max-width: 6rem;
}