/* Estilos para el modal */
#modalAgregarVenta {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

#idLabelTecnico {
    margin-left: 0;
}

#idModalBodyAgregarVenta {
    padding: 20px 0 0 0;
    max-height: 20rem;
}

#idSelectFilesContainer {
    height: 15rem;
    margin: auto;
}

