.recompensasContainer {
    border-radius: var(--border-radius-mainSectionContainer);
    padding: var(--padding-mainSectionContainer);
    background-color: var(--background-color-mainSectionContainer);
    width: 100%;
	height: 100%;
}

.firstRow{
    display: flex;
	flex-direction: row;
    width: 100%;
    height: 5%;
    gap: 1.5rem;
    grid-template-columns: 30rem 10rem;
    align-items: center;
}

