.tooltip-container {
    position: relative;
    display: inline;
    /*FALTA CENTRAR HORIZONTALMENTE Y VERTICALMENTE EN EL CONTAINER*/
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    width: 150px;
    background-color: #777;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    transition: opacity 0.4s, visibility 0.4s;
    font-size: 0.8rem;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #777 transparent transparent;
}

.tooltip.shown {
    visibility: visible;
    opacity: 1;
}
